::placeholder {
  color: red;
}
body {
  line-height: 1.15;
  font-family: sans-serif;
  background: #eee;
  box-sizing: border-box;
}

// paragraph
p {
  font-size: 10px;
  transform: scale(1.2);
}

img {
  max-width: 100%;
  width: 350px;
  height: auto;
}
